/* Google Material Symbols */

@font-face {
	font-family: "Material Symbols Rounded";
	font-style: normal;
	font-weight: 100 1000;
	font-display: swap;
	src: url("../../sources/fonts/MaterialSymbolsRounded[FILL\,GRAD\,opsz\,wght].woff2") format("truetype-variations");
}
.material-symbols-rounded {
	font-family: "Material Symbols Rounded";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
	vertical-align: text-bottom;
	font-variation-settings: "FILL" 0, "GRAD" 0, "opsz" 48;
}
/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@font-face {
	font-family: bootstrapIcon;
	src: url(../fonts/bootstrap-icons.woff);
}

/* Jost */

@font-face {
	font-family: "Montserrat Light";
	font-style: normal;
	font-weight: 100;
	src: url("../../sources/fonts/Montserrat-Light.ttf");
}
@font-face {
	font-family: "Montserrat Light Italic";
	font-style: italic;
	font-weight: 100;
	src: url("../../sources/fonts/Montserrat-LightItalic.ttf");
}
@font-face {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: 300;
	src: url("../../sources/fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat Italic";
	font-style: italic;
	font-weight: 300;
	src: url("../../sources/fonts/Montserrat-Italic.ttf");
}
@font-face {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: 600;
	src: url("../../sources/fonts/Montserrat-Bold.ttf");
}
@font-face {
	font-family: "Montserrat Bold Italic";
	font-style: italic;
	font-weight: 600;
	src: url("../../sources/fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
	font-family: "Montserrat Black";
	font-style: normal;
	font-weight: 900;
	src: url("../../sources/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
	font-family: "Montserrat Black Italic";
	font-style: italic;
	font-weight: 900;
	src: url("../../sources/fonts/Montserrat-ExtraBoldItalic.ttf");
}

/* Montserrat */

@font-face {
	font-family: "Montserrat Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../../sources/fonts/Montserrat-Regular.ttf");
}
@font-face {
	font-family: "Montserrat Bold";
	font-style: normal;
	font-weight: 700;
	src: url("../../sources/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
	font-family: "Montserrat ExtraBold";
	font-style: normal;
	font-weight: 900;
	src: url("../../sources/fonts/Montserrat-ExtraBold.ttf");
}
